@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../asset/fonts/Gotham-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../asset/fonts/Gotham-XLight.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../asset/fonts/Gotham-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../asset/fonts/Gotham-Book.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../asset/fonts/Gotham-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../asset/fonts/Gotham-Black.otf");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  html {
    font-family: Gotham, system-ui, sans-serif;
  }

  .text-outline::before {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #cb3233;
  }

  /* width */
  .scrollbar-custom::-webkit-scrollbar {
    height: 10px !important;
  }

  /* Track */
  .scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(203, 50, 51, 0.5);
  }

  /* Handle */
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #e1c172;
    border-radius: 5px;
  }

  /* Handle on hover */
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #e5d2b6;
  }

  /* width */
  .faq-textarea-scrollbar::-webkit-scrollbar {
    width: 5px !important;
  }

  /* Track */
  .faq-textarea-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .faq-textarea-scrollbar::-webkit-scrollbar-thumb {
    background: #AC151A;
    border-radius: 5px;
  }

  /* Handle on hover */
  .faq-textarea-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e5d2b6;
  }

  .clip-path-triangle {
    clip-path: polygon(
      calc(100% - 20px) 0,
      100% 50%,
      calc(100% - 20px) 100%,
      20px 100%,
      0 50%,
      20px 0
    );
  }

  @media only screen and (min-width: 1024px) {
    .clip-path-triangle {
      clip-path: polygon(
        calc(100% - 20px) 0,
        100% 50%,
        calc(100% - 20px) 100%,
        0 100%,
        0 0
      );
    }
  }
}
